"\e[1~": beginning-of-line                                                                                                                                                         
"\e[4~": end-of-line                                                                                                                                                               
"\e[5~": history-search-backward                                                                                                                                                   
"\e[6~": history-search-forward                                                                                                                                                    
"\e[3~": delete-char                                                                                                                                                               
"\e[2~": quoted-insert                                                                                                                                                             
"\e[5C": forward-word                                                                                                                                                              
"\e[5D": backward-word                                                                                                                                                             
"\e\e[C": forward-word                                                                                                                                                             
"\e\e[D": backward-word                                                                                                                                                            
#"\t": menu-complete                                                                                                                                                               
                                                                                                                                                                                   
# Incremental search with Up and Down                                                                                                                                              
"\e[A": history-search-backward                                                                                                                                                    
"\e[B": history-search-forward                                                                                                                                                     
"\ed": backward-kill-word                                                                                                                                                          
                                                                                                                                                                                   
                                                                                                                                                                                   
set show-all-if-ambiguous on                                                                                                                                                       
set completion-query-items 500                                                                                                                                                     
set completion-ignore-case On                                                                                                                                                      
#set visible-stats on                                                                                                                                                              

set meta-flag on
#set expand-tilde on
set convert-meta off
set input-meta on
set output-meta on
#set editing-mode vi

